-#%h1 Admin
%ul
  %li= link_to 'Beer', admin_beers_path
  %li= link_to 'Beer Styles', admin_beer_styles_path
  %li= link_to 'Beer Style Categories', admin_beer_style_categories_path
  %li= link_to 'Posts', admin_posts_path
  %li= link_to 'Users', admin_users_path
