%h1 #{@user.display_name}'s Profile

%dl
  %dt Real name
  %dd #{@user.first_name} #{@user.last_name}

  %dt About me
  %dd= @user.about_me || "Nothing yet..."

  %dt Account created
  %dd= @user.created_at.strftime(I18n.t 'date.formats.default')
