%h1 #{@user.display_name}'s Profile
- if user_signed_in? && current_user == @user
  = link_to 'Edit', edit_user_registration_path

%dl
  - if user_signed_in? && current_user == @user
    %dt Real name
    %dd #{@user.first_name} #{@user.last_name}

  %dt About me
  %dd= @user.about_me

  %dt Account created
  %dd= @user.created_at.strftime(I18n.t 'date.formats.default')
