= form_for [:admin, @beer_style_category] do |f|
  - if @beer_style_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer_style_category.errors.count, "error")} prohibited this beer_style_category from being saved:"
      %ul
        - @beer_style_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
