.header
  %h1 Showing post
  = link_to 'edit', edit_admin_post_path(@post)

%dl
  %dt Title:
  %dd= @post.title

  %dt Body:
  %dd= @post.body

  %dt Author:
  %dd= link_to(@post.author, admin_user_path(@post.author)) if @post.author

  %dt Created at:
  %dd= @post.created_at

  %dt Updated at:
  %dd= @post.updated_at
