%h1 Listing beer styles

= link_to 'New Beer style', new_admin_beer_style_path
= paginate @beer_styles
%table.index
  %tr
    %th Name
    %th Recipe
    %th Description
    %th Category
    %th
    %th
    %th

  - @beer_styles.each do |beer_style|
    %tr
      %td= beer_style.name
      %td= beer_style.recipe
      %td= beer_style.description
      %td= beer_style.category ? link_to(beer_style.category, [:admin, beer_style.category]) : BeerStyle.default_category
      %td= link_to 'Show', [:admin, beer_style]
      %td= link_to 'Edit', edit_admin_beer_style_path(beer_style)
      %td= link_to 'Destroy', [:admin, beer_style], :method => :delete, :data => { :confirm => 'Are you sure?' }
