= link_to 'Edit', edit_admin_user_path(@user)
\|
= link_to 'Back', admin_users_path

%h1 Showing user

%dl
  %dt ID:
  %dd= @user.id

  %dt First Name:
  %dd= @user.first_name

  %dt Last Name:
  %dd= @user.last_name

  %dt Display Name:
  %dd= @user.display_name

  %dt About Me:
  %dd= @user.about_me

  %dt Email:
  %dd= @user.email

  %dt Reset Password Sent at:
  %dd= @user.reset_password_sent_at

  %dt Sign-in Count:
  %dd= @user.sign_in_count

  %dt Current Sign-in at:
  %dd= @user.current_sign_in_at

  %dt Current Sign-in IP:
  %dd= @user.current_sign_in_ip

  %dt Last Sign-in at:
  %dd= @user.last_sign_in_at

  %dt Last Sign-in IP:
  %dd= @user.last_sign_in_ip

  %dt Failed Attempts:
  %dd= @user.failed_attempts

  %dt Locked at:
  %dd= @user.locked_at

  %dt Created at:
  %dd= @user.created_at

  %dt Updated at:
  %dd= @user.updated_at
